.user-infor{
    height: 135px;
}
.avator-img{
    display: block;
    width: 80%;
    max-width: 100px;
    height: auto;
}
.card-user-infor-name{
    font-size: 2em;
    color: #2d8cf0;
}
.card-title{
    color: #abafbd;
}
.made-child-con-middle{
    height: 100%;
}
.to-do-list-con{
    height: 145px;
    overflow: auto;
}
.to-do-item{
    padding: 2px;
}
.infor-card-con{
    height: 100px;
}
.infor-card-icon-con{
    height: 100%;
    color: white;
    border-radius: 3px 0 0 3px;
}
.map-con{
    height: 305px;
}
.map-incon{
    height: 100%;
}
.data-source-row{
    height: 200px;
}
.line-chart-con{
    height: 150px;
}

.border-top-3-blue{
    border-top:3px solid #2D8CF0;
}

.data-statistics{
    .ivu-card-body {
        padding: 0px !important;
    }
    .ivu-col{
        padding: 0px !important;
    }
    &-item{
        height: 145px;
        img{
            width: 34%;
        }
        .item-text{
            margin-left: 15px;
            text-align: center;
            &-num{
                font-size: 28px;
                color: #474C58;
                font-weight: bold;
            }
            &-intro{
                font-size: 14px;
                color: #707070;
            }
        }
    }
    &-item:first-child{
        border-right: 1px solid #E3E8EE;
        border-bottom: 1px solid #E3E8EE;
    }
}

.reset-card{
    border-radius: 0px 0px 4px 4px !important;
    border: 0px !important;
}